html{
	height: 100%;
}
body {
	padding-top: 20px;	
	background-color:#f9f6f6;
	font-family: "Open Sans", sans-serif;
	height: 100%;
	color: #464343;
}

/*TopMenu*/
 .responsivemenu{
 	display: none;
 }
 .trblue{
 	background-color: #13b6ea !important;
	color: white !important;
 }
.topleft,.topright,.topmid{
min-height:53px;
padding:0px;
}

.lsep{

}
.rsep{
margin-right:12px;
}
.lsep{
margin-left:12px;
}
/*End TopMenu*/
.main{
margin-top:20px;
}
a:active,a:focus,a,a:hover {
outline: 0;
	text-decoration:none;
}

.bottom {    
    position: absolute;
    bottom: 0;
	display: block:
}
.mid {    
    position: absolute;
    top: 50%;
	display: block;
	padding:0px;
}
.container {
    width: 960px;
	padding:0px;
}

/*Main Menu*/
.nav-pills li a{
	color: #464343;
}
nav div, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
  text-transform: uppercase;
}

.nav li {
  margin-top: 12px;
  font-size: 15px;
  text-transform: uppercase;
	letter-spacing: -1px;
	font-size: 14px;
}
.nav>li>a {
  padding: 10px 0px 10px 0px;

}

.nav li a {
  color: #000;
}

.nav li:last-child {
  margin-bottom: 10px;
}
li.active > a {
	color: #17B5E9 !important;
}
.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	color: #17B5E9;
	background: none !important;
}
.nav-pills>li.active>a:hover {
	background-color: #f9f6f6 !important;
	color: #000;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
  color: #000;
  background-color: none !important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	color: #000;
	background-color: none !important;
}

/*Menu Perfil*/
a.file-input-wrapper.btn.btn-default.btnazul {
	box-shadow: none;
}
.uppic{
	display: none;
	background-color: #9b9b9b;
	z-index: 10;
	top: 69px;
	position: absolute;
	max-width: 514px;
}
.profpic{
	width: 40px;
	border: 1px solid #ebebeb;
}
.imgmdl{
	position: absolute;
	top: 0px;
	left: 0px;
}
.utitle{
	text-transform: initial;
	margin-top: 10px !important;
	margin-left: 25px;
}
.uname{
	color: #428bca;
}
.proflink{
	color: #333;
}
.profinfo{
	margin-top: 5px;
	margin-left: 10px;
}
.profinfo li{
	list-style: none;
}
.profbottom{
	background-color: #9b9b9b;
	width: 100%;
	height: 57px;
	border-top: 1px solid #767676;
	padding: 10px;
	margin-top: -2px;
}

/*Error Messages*/
.form-group.has-danger input {
	border: 1px solid red;
}
.form-group.has-danger span.help-block {
	color: #EE3333;
	background-color: #FCC;
	padding: 5px;
}
/*Mi perfil Publico*/
.triber_info{
	background-color: #f0efef;
	float: left;
}
.masinfo_triber{
	background-color: #e6e3e3;
	border-top: dashed 1px #333;
	display: none;
}
.triber_infowhite{
	background-color: #FFFFFF;
	float: left;
}
.triber_infowhite h1{
	text-transform: uppercase;
	color: #13b6ea;
	font-size: 16px;
	font-weight: bold;
}
.triber_infowhite h1 span a{
	color: #CCC;
	text-transform: none;
	margin-left: 20px;
}
.triber_name{
	font-size: 19px;
	font-weight: bold;
	color: #464343;
}
.triber_blue{
	color: #13b6ea;
}
.triber_small{
	font-size: 10px;
	color: #9b9b9b;
	cursor: pointer;
}
.similar_triber img{
	width: 100px;
	height: 100px;
}
.oversimilar{
	width: 100px;
	height: 100px;
	background-image: url("../img/bgsimilar.png");
	display: none;
	position: absolute;
	top: 0px;
	left: 15px;
	word-wrap: break-word
}
.similar_name, .similar_city, .similar_news{
	text-align: center;
	color: #FFF;
}
.similar_name{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}
.similar_city{
	margin-top: 5px;
}
.similar_news{
	color: #13b6ea;
}

/*Mi perfil*/
.profile-picture-sq, .profile-picture-sq > div {
	background-color: #9b9b9b;
	padding: 0px !important;
}
.profile-picture-sq > div > img {
	max-width: 126px;
	margin: 1px;
}
.profile-picture-sq a.btnazul{
	background-color: #19b6ea;
	margin: 15px 0px 0px 15px;
	font-size: 11px;
	color: #FFF;
	padding: 5px 10px 5px 10px !important;
	box-shadow: 10px 10px 5px #888888;
	box-shadow: 0px 0px 7px 0px #888888;
	position: relative;
}
.profile-picture-sq .btnazul-ico{
	box-shadow: none;
	color: #b9b9b9;
	background-color: transparent;
	margin: 0px !important;
	padding: 0px !important;
	left: 12px;
}
.profile-picture-sq a.file-input-wrapper{
	border: none;
	background: none;
	color: white;
	text-align: center;
	/*width: 100%;*/
	margin: 0px;
}
.previsualizacion{
	border: 2px dotted #b9b9b9;
	min-height: 100px;
	margin: 20px 10px 10px 10px;
	word-wrap: break-word;
	color: #FFF;
	font-size: 13px;
	text-align: center;
	max-width: 110px;
}
.form-change-pass{
	display: none;
	background-color: #9b9b9b;
	color: #FFF;
	position: absolute;
	z-index: 10;
}
div.form-change-pass label {
	font-size: 11px;
}
div.form-change-pass .form-group {
	margin: 0px;
	padding: 0px;
}

.square-info .select2-search-choice > div, .square-info-foro .select2-search-choice > div{
	padding: 0px;
}

/*Menu Dropdown*/
.imgmenu{
	height: 40px;
	width: 150px;
	background-position: 0px;
}
.imgmenu:hover{
	height: 40px;
	width: 150px;
	background-position: 140px;
}
.submenu{
	position: absolute;
	background-color: #FFF;
	left: 140px;
	top: 0px;
	z-index: 99999;
	width: 320px;
	box-shadow: 10px 10px 5px #888888;
	box-shadow: 0px 0px 7px 0px #888888;
	padding: 10px;
}
.submenu li{
	list-style:none;
	float: left;
	padding: 10px 0px 10px 10px;
	text-transform: normal;
}
.submenu li:hover, .submenu li:hover a{
	color: #FFF !important;
}
.triangle{
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right: 10px solid #FFF;
	float: left;
	position: absolute;
	top: 10px;
	left: -20px;
}


/*Parrilla*/
div.parrilla {
	background-color: #FFFFFF;
	
}
div.parrilla-cabecera {
	background-color: #17B5E9;
	padding: 0px 5px 1px 10px;
}
div.right_arrow{
	background-color: transparent;
	width: 0px;
	height: 85px;
	border: 43px solid transparent;
	border-left: 19px solid #17B5E9;
	position: absolute;
	top: 20px;
	right: -62px;
	z-index: 99;
}
div.parrilla-cabecera h1 {
	color: #FFF;
	font-size: 17px;
	font-weight: bold;
	padding-top: 5px;
	/*font-family: HelveticaNH;*/
}
div.parrilla-cabecera h2 {
	font-size: 12px;
	text-align: right;
	color: #FFF;
	/*font-family: HelveticaNB;*/
	text-transform: initial;
}
div.parrilla-cabecera h2 .circulo {
	background-color: #FFF;
	color: #17B5E9;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 0px 5px 0px 0px;
	float: right;
	width: 21px;
	height: 21px;
	margin-top: -5px;
	font-size: 21px;
	font-weight: 800;
}
div.parrilla-contenido {
	min-height: 40px;
	margin: 25px 10px 0px 10px;
	color: #17B5E9;
	padding-bottom: 20px;
	font-weight: bold;
}
.line {
	border-bottom: 2px solid #CCC;
}
div.parrilla-contenido span.titulo {
	font-size: 17px;
}
div.parrilla-contenido span.hora {
	color: #464343;
	width: 100%;
	float: left;
	font-size: 17px;
}
.datesel{
	color: #FFF !important;
	background-color: #13b6ea !important;
}

/*sintonizanos*/
a.sintonizanos {
	width: 100%;
	margin-top: 20px;
	padding: 11px 0px 11px 0px;
	color: white;
	background-color: #9A9A9A;
	border-color: #ccc;
	font-size: 13px;
	height: 50px;
}
a.betriber {
	font-weight: 800;
	font-size: 26px;
	padding-top: 5px;
	letter-spacing: -1px;
}

/*Twitter widget*/
div.twitter {
	margin-top: 20px;
	background-color: #FFF;
	padding: 0px 2px 0px 2px;
}
div.twitter div.titulo {
	color: #666;
	padding: 10px 0px 0px 10px;
}
div.twitter div.tweets {
	max-height: 366px;
	overflow: auto;
}
div.twitter div.tweets div.tweet {
	margin-top: 10px;
	padding: 3px;
}
div.twitter div.tweets div.tweet  img.imagen {
	float: left;
	width: 39px;
}
div.twitter div.tweets div.tweet div.tiempo {
	color: #888;
	float: right;
	font-size: 9px;
}
div.twitter div.tweets div.tweet div.nombreuser {
	font-size: 11px;
	margin-left: 45px;
	font-weight: bold;
}
div.twitter div.tweets div.tweet div.nombreuser a{
	color: #555;
}
div.twitter div.tweets div.tweet div.texto {
	font-size: 9px;
	margin: 6px 0px 0px 0px
	color: #222;
}
div.twitter div.tweets div.tweet div.nret {
	color: #999;
	margin-top: 2px;
	font-size: 10px;
}
div.twitter i.fa.fa-twitter {
	font-size: 23px;
}

/*Sintonizanos*/
.title-linewh span img{
	width:121px;
	margin-bottom: 0;
}
.title-linewh{
	font-size: 17px;
	text-transform: uppercase;
	text-align: center;
	background-image: url("../img/titbgwh.png");
	background-repeat: repeat-x;
	background-position: center center;
	width: 95%;
	margin: auto;
}
.square-info, .square-info-foro{
	background-color: #FFFFFF;
	width: 100%;
	min-height: 100px;
	/*margin-top: 20px;*/

}
.square-info div.grey, .square-info-foro div.grey{
	background-color: #9B9B9B;
	color: #FFFFFF;
	width: 100%;
	font-size: 17px;
	margin-bottom: 5px;
}
.square-info div, .square-info-foro div {
	padding: 10px;
}
div.cadena{
	background-repeat: none;
	height: 71px;
	width: 168px;
	background-position: 168px;
	float: left;
}
.canalesd{
	margin: auto;

}
.canalesd p.center{
	text-align:center;
	margin-left:-7px;
	margin-right:-7px;
	color:#9b9b9b;
}
.canalesd .blue{
	color:#13b6ea !important;
	font-weight:bolder;
}
.canalesd .region{
	text-transform:uppercase;
	font-size:12px;
	color:#9b9b9b;
}

/*Home*/
.divprincipal{
	padding-top: 20px;
}
.square img {
	width: 100%;
	max-width: 269px;
	max-height: 150px;
}
.square img.arrow{
	width: initial;
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 13px;
	height: 7px;
}
.square{
	margin-top: 20px;
}
.sq_num i.fa.fa-heart-o {
	color: #17B5E9;
}
div.sq_num {
	float: right;
	text-align: right;
	color: #333;
}
div.sq_num span{
	color: #9b9b9b;
	text-align: right;
	font-size: 11px;
}
div.sq_num span:first-child{
	color: #333;
	font-weight: bold;
	font-size: 14px;
}

div.sq_title a {
	color: #464343;
}
div.sq_title {
	float: left;
}
div.sq_content{
	width: 100%;
	background-color: #FFFFFF;
	padding: 5px;
	float: left;
}
.nopadding{
	padding-left: 0px;
	padding-right: 0px;
}
.nopaddingT{
	padding-top: 0px !important;
	padding-bottom: 0px !importantº;
}
.nopaddingI{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.separador{
	clear: both;
	border-bottom: 2px solid #CCC;
	margin: auto;
	height: 40px;
	width: 98%;
	margin-bottom: 30px;
}

/*FORO*/
.square-info-foro{
	min-height: initial !important;
	margin-top: 10px;
}
.foro_tema {
	border: 1px solid #c8c7c7;
	margin-top: 4px;
	background-color: #FFFFFF;
	padding: 10px;
}
.foro_tema_info h1{
	font-size: 14px;
	text-transform: initial;
	font-weight: bold;
	margin-bottom: 5px;
}
.foro_tema_info h2{
	font-size: 12px;
	color: #9b9b9b;
	text-transform: initial;
	margin-top: 0px;
}
.foro_tema_infoT h1{
	font-size: 14px;
	text-transform: initial;
	font-weight: bold;
	color: #9b9b9b;
	text-align: center;
	margin-bottom: 5px;
}
.foro_tema_infoT h2{
	font-size: 12px;
	color: #e40d7e;
	text-align: center;
	text-transform: initial;
	margin-top: 0px;
}
.foro_tema_icono{
	text-align: center;
}
.foro_tema_icono img{
	margin-top: 30%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
/*FORO TEMA*/
.square-info-tema, .new_temaforo{
	border: 2px solid  #c8c7c7;
	min-height: 86px;
	background-color: #ededed;
}
.new_temaforo{
	margin-top: 2px;
	position: absolute;
	z-index: 50;
	max-width: 768px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.new_temaforo label {
	margin-top: 15px;
}
.square-info-tema .ntemas{
	background-color: #e0e0e0;
	min-height: 82px;
	font-weight: bold;
	text-align: center;
	padding-top: 20px;
}
.square-info-tema .ntemas span, .foro_tema_infoTemas h2 span, .foro_tema_info h2 span, .foro-comentario span{
	color: #13b6ea;
}
.square-info-temas{
	border: 2px solid  #c8c7c7;
	min-height: 86px;
	background-color: #ededed;
}
.foro_temas_icono{
	text-align: center;
	min-height: 82px;
	padding-top: 22px;
}
.foro_tema_info.temas h1{
	font-size: 19px;
}
.foro_tema_info.temas h2{
	font-size: 15px;
}

.profpic.big{
	width: 70px;
	height: 70px;
}
.profpic.small{
	width: 35px;
	height: 35px;
}
.usercirle{
	width: 35px;
	height: 35px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 150px;
	border: 1px solid #CCC;
	background-color: #9b9b9b;
	color: white;
	font-weight: bold;
	padding-top: 7px;
	text-align: center;
}
.foro_tema_infoTemas h2{
	font-size: 12px;
	color: #6b6b6b;
	text-align: left;
	text-transform: initial;
	margin-top: 0px;
}
.bigprofdiv{
	text-align: center;
}
.floated{
	float: left;
	margin-right: 5px;
}
.foro_tema_infoTemas {
	padding-top: 7px;
}
.new_temaforo{
	display: none;
}
#open_new_tema{
	cursor: pointer;
}
/*FORO COMENTARIO*/
.square-info-comentario{
	background-color: #e0e0e0;
	min-height: 100px;
}
.foro-comentario{
	background-color: #FFF;
	padding: 20px;

}
.foro-shadow{
	box-shadow: 10px 10px 5px #888888;
	box-shadow: 0px 0px 7px 0px #888888;
}

.foro-comentariocreador{
	text-align: center;
	padding-top: 15px;
}
.foro-comentariocreador span.tag{
	padding: 3px;
	color: #FFF;
	background-color: #8a589a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}
.foro-comment-container{
	margin-top: 10px;
	background-color: #e0e0e0;

}

.left-arrow{
	border-right: 20px solid #FFF;
	border-left: 0px solid #e0e0e0;
	border-top: 20px solid #e0e0e0;
	border-bottom: 20px solid #e0e0e0;
	position: relative;
	top: 27px;
	z-index: 50;
	left: 98px;
	width: 0px;
}


/*Episodios*/
.serie_info{

}
.serie_title{
	font-size: 17px;
	font-weight: 800;
}
.serie_when{
	font-size: 15px;
}
.serie_description, .haztetriber_description, .haztetriber_contacta {
	font-size: 12px;
}
.squaredesc {
	padding-top: 20px;
}
.epi_button{
	margin-top: 25px;
	margin-bottom: 20px;
	background-color: #9b9b9b;
	color: white;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
.epi_button a {
	color: white;
}
.sqd_title {
	color: #464343 !important;
	font-size: 17px;
}
.sqd_description {
	height: 120px;
	overflow: auto;
	font-size: 12px;
}
.sqd_info{
	color: #CCC !important;
	font-size: 17px;
}

/*Rating*/
.rating{
	position: absolute;
	top: 6px;
	left: 21px;
}
.bullet{
	height: 7px;
	width: 7px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #FFF !important;
	float: left;
	margin: 1px;
}
.bullet-blue{
	background-color: #17B5E9 !important;
}
/*Historico de noticias*/
.filtro_news .titfil{
	padding-right: 0px;
	font-weight: bold;
}
.filtro_news .filter{
	background-color: #9b9b9b;
	padding: 3px;
	color: #FFFFFF;
	min-height: 32px;
}
.filtro_news select, .filtro_news input{
	width: 100%;
	color: #333;
	/*max-height: 24px;*/
	padding: 0px;
	min-height: 34px;
}
div#s2id_autogen1 {
	width: 50%;
}

/*Programas*/
.title-line{
	font-size: 17px;
	text-transform: uppercase;
	text-align: center;
	background-image: url("../img/titbg.png");
	background-repeat: repeat-x;
	background-position: center center;
	width: 95%;
	margin: auto;
}
.title-line-right{
	text-align: right;
}
.title-line-left{
	text-align: left;
}
.title-line span{
	background-color: #f9f6f6;
	font-weight: bold;
	padding: 0px 12px 0px 12px;
}
.ver-todas-web{
	color: #17B5E9;
	text-align: right;
	margin-top: 10px;
}
.ver-todas-web .circulo-azul{
	background-color: #17B5E9;
	color: #FFF;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 0px 7px 0px 0px;
	float: right;
	width: 24px;
	height: 24px;
	margin-top: -2px;
	font-size: 19px;
	font-weight: 800;
}

/*Periodismo Ciudadano*/
.lomasvisto .slick-prev:before, .lomasvisto .slick-next:before {
	font-family: "slick";
	font-size: 30px;
	line-height: 1;
	color: #333;
	opacity: 0.85;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.lomasvisto button.slick-next {
	top: initial !important;
	background-color: #FFF !important;
	width: 200px;
	bottom: -50px;
	background-image: url("../img/arrdown.png");
	background-repeat: no-repeat;
	background-position: center center;
	height: 50px !important;
}
.lomasvisto button.slick-prev {
	background-color: #FFF !important;
	width: 200px;
	top: -5px !important;
	background-image: url("../img/arrdown.png");
	-webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
	background-repeat: no-repeat;
	background-position: center center;
	height: 30px !important;
}
.lomasvisto .slick-next:before { display: none !important; }
.lomasvisto .slick-prev:before { display: none !important; }
.lomasvisto .slick-slider {
	margin-bottom: 30px;
	margin-top: 15px;
}
.lomasvisto .col-md-12.slick-slide.slick-active {
	width: 200px !important;
}
.lomasvisto .slick-list.draggable{
	height: 550px !important;
}
.video-info .title-line, .lomasvisto .title-line{
	background-image: url("../img/titbgw.png");
}
.video-info .title-line span, .lomasvisto .title-line span{
	background-color: #FFF;
}
#gmap_canvas img{
	max-width:none!important;
	background:none!important;
	width:100%;
}
.lomasvisto{
	margin-top: 20px;
	padding-top: 10px;
	background-color: #FFF;

}
.lomasvisto .title-line{
	font-size: 11px;
	margin-top: 5px;
}
.mv-sqare, .mv-more{
	border-top: 1px solid #9b9b9b;
	padding-top: 15px;
	margin-top: 15px;
}
.mv-more{
	background-image: url("../img/arrdown.png");
	background-repeat: no-repeat;
	background-position: center center;
	height: 50px;
	cursor: pointer;
}

.mv-titulo{
	font-size: 12px;
	font-weight: bold;
}
.mv-donde, .mv-autor, .mv-reproducciones, .mv-fecha{
	float: left;
	font-size: 10px;
}
.mv-donde{
	color: #17B5E9;
}
.mv-autor span, .mv-fecha span{
	color: #9b9b9b;
}
.mv-sqare .cropimg{
	height: 100px;
}

/*General Cropping*/
.cropimg{
	width: 100%;
	overflow: hidden;
}
.cropimg img{
	width: 100%;
}


/*PARRILLA*/
.parrilla_big{
	width: 90%;
	margin: auto;
	max-height: 660px;
	margin-top: -36px;
	/*overflow: auto;*/
}
.parrilla_big .parrilla_elemento{
	border-bottom: 1px solid #9b9b9b;
	height: 150px;
	width: 100%;
	background-color: #FFF;
	padding: 10px;
}
.parrilla_big .parrilla_elemento img{
	max-height: 120px;
}
.parr_hora {
	font-size: 26px;
	text-align: center;
	margin-top: 45px;
}
.parr_info {
	padding-top: 20px;
}
.parr_titulo{
	color: #17B5E9;
	font-weight: bold;
}
.fechas {
	width: 90%;
	margin: auto;
	height: 54px;
}
.slick-prev, .slick-next {
	background-color: #767676 !important;
	height: 46px !important;
	top: 11px !important;
}
.slick-prev {
	left: 0px !important;
}
.slick-next {
	right: 0px !important;
}
.seldateparr {
	float: left;
	text-align: center;
	background-color: #efecec;
	border: 1px solid white;
	padding-top: 6px;
	color: #333;
	cursor: pointer;
	width: 80px;
	height: 55px;
}
span.p_dia {
	font-weight: bold;
}
span.p_mes {
	font-size: 10px;
}
#loading{
	display: none;
	width: 50px;
	margin: auto;
	background-image: url("../img/loading.gif");
}

/*MIS VIDEOS*/

.aclose{
	cursor: pointer;
}
/*Botones input chetados*/
a.file-input-wrapper.btn.btn-default.btnazul {
	background-color: transparent;
	border: none;
}
.file-input-wrapper.btnazul span,  .file-input-wrapper.btnazul {
	background-color: #19b6ea;
	color: #FFFFFF;
	padding: 5px;
}
#buttonUpload{
	display: none;
}
.formupload div{
	font-weight: bold;
	color: #FFFFFF;
}
.formupload div input, .formupload div textarea, .formupload div select, .formupload div .select2{
	font-weight: normal;
	border: 2px solid #a6a6a6;
	background-color: white;
	width: 100%;
	color: #333333;
}
.formupload div .select2{
	width: 100%!important;
}
.greysquare, .secondgrey, .editgrey{
	background-color: #adacac;
	clear: both;
	float: left;
	margin-top: -5px;
	width: 100%;
	z-index: 20;
	display: none;
	max-width: 568px;
	position: absolute;
}
.secondgrey, .editgrey{
	background-color: #b9b9b9;
	top: 179px;
}

.square-info .grey a.btn, .square-info-foro .grey a.btn{
	float: right;
	margin-top: -5px;
}

.mi-video{
	padding: 0px;
}
.mi-video-prev{
	border-top: 1px solid #c2c2c2;
	padding: 0px !important;
	padding-top: 9px !important;
}
.misvideos_nr{
	color: #b71e1e;
}
.misvideos_no{
	color: #ffbbbb;
}
.mivid-titulo{
	text-transform: uppercase;
}
.mivid-subtitulo{
	color: #17B5E9;
}
.simple-pagination{
	text-align: center;
	width: 100%;
	font-size: 22px;
	font-weight: bold;
	cursor: pointer;
}
.simple-pagination .sp-sel{
	color: #17B5E9;
}


/*HAZTE TRIBER*/
.serie_info img{
	width: 100%;
	margin-bottom: 20px;
}
.haztetriber_title{
	font-size: 19px;
	font-weight: 800;
	text-transform: uppercase;
}
.control-label img{
	/*width: initial;*/
	width: 14px;
	height: 17px;
	margin-top: -4px;
	 margin-bottom: 0px;
}
.l-left{
	text-align: left !important;
}
.l-right{
	text-align: right !important;
}
.yareg{
	color: #9b9b9b;
	font-size: 12px;
}
.haztetriber_contacta a{
	color: #464343;
	font-weight: bold;
}
label {
	font-weight: normal !important;
}
.well {
	background-color: #efecec !important;
	border-radius: 2px !important;
}
.well_title{
	color: #13b6ea;
	font-size: 16px;
	margin-bottom: 10px;

}
.form-control {
	border-radius: 2px !important;
}
.btn-tribo-blue {
	color: #fff;
	background-color: #17B5E9;
	border-color: #94d6eb;
}
.btn-tribo-grey {
	color: #fff;
	background-color: #9b9b9b;
	border-color: #9b9b9b;
}
.btn-tribo-purple {
	color: #fff;
	background-color: #6d2a82;
	border-color: #9a4a8a;
}
.btn {
	border-radius: 2px !important;
	font-family: "Open Sans" !important;
}
.btn:hover, .btn:focus {
	color: #FFF !important;
	text-decoration: none;
}

/*Menu LOGIN*/
.login_form, .contact_form, .search_form {
	position: absolute;
	top: 100%;
	margin-top: -25px;
	left: 0px;
	width: 400px;
	height: auto;
	border-radius: 2px;
	background-color: #faf6f6;
	color: #37353a;
	float: right;
	z-index: 999999;
	border: 1px solid #CCC;
	border-top: 4px solid #17B5E9;
	padding: 10px;
}
.contact_form {
	left: 60px;
}
.search_form {
	left: 30px;
}
.login_form h1, .contact_form h1, .search_form h1{
	font-size: 17px;
	margin-top: -2px;
	font-weight: bold;

}
.l_form div{
  margin-bottom: 5px;
}
.mask{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 4;
	top: 0px;
}

/*VIDEO*/
.video{
	padding:0px;
}
.video-info{
	background-color: #FFF;
}
.vd-ruta, .vd-codigo, .vd-capitulo, .vd-attr, .vd-temporada, .video-desc{
	float: left;
}
.vd-ruta{
	margin-top: 10px;
	font-size: 12px;
}
.vd-codigo{
	font-size: 17px;
}
.vd-capitulo{
	font-weight: bold;
	font-size: 17px;
}
.vd-capituloInfo{
	color: #9b9b9b;
	font-size: 12px;
}
.vd-capituloInfo span{
	color: #13b6ea;
}
.vd-attr{
	color: #9b9b9b;
	font-size: 12px;
}
.vd-temporada{
	color: #17B5E9;
	font-size: 12px;
	font-weight: bold;
}
.video-desc{
	margin-top: 10px;
}

/*Search Top*/
#searchResults{
	height: 130px;
	margin-top: -5px;
	position: absolute;
	top: 94px;
	left: 25px;
	width: 356px;
}
#searchResults div.mCustomScrollBox div.mCSB_container {
	margin-right: 8px !important;
}
.result{
	border: 1px solid #dddddd;
	margin-bottom: -1px !important;
	color: black;
}
.sq_result:nth-child(odd) div{
	background: #ffffff;
}
.sq_result:nth-child(even) div{
	background: #f2f2f3;
}
.result span{

}
.result h3{
	margin: 12px;
	font-size: 12px;
	font-weight: bold;
}



/* Debug Footer */
.footerDebug .navbar{
	border-radius: 0px;
	background-image: none;
	background-size: none;
	padding-bottom: 0px;
	height: auto;
	margin-bottom: 0px;
}
.container.main{
	padding-bottom: 50px;
}
/* End Debug Footer */

.bor_lef{
	border-left: 2px solid #CCC;
}
.l_circle{
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
	width: 120px;
	height: 120px;
	border: 1px solid #CCC;
	background-repeat: no-repeat;
	background-position: center center;
}
.l_circle:hover{
	background-color: #17B5E9;
}
.circle_items{
	text-align: center;
}
.webseries{
	background-image: url("../img/home/webseries.png");
}
.moda{
	background-image: url("../img/home/moda.png");
}
.gamers{
	background-image: url("../img/home/gamers.png");
}
.periodismo{
	background-image: url("../img/home/periodismo.png");
}
.humor{
	background-image: url("../img/home/humor.png");
}
.webseries:hover{
	background-image: url("../img/home/webseries_o.png");
}
.moda:hover{
	background-image: url("../img/home/moda_o.png");
}
.gamers:hover{
	background-image: url("../img/home/gamers_o.png");
}
.periodismo:hover{
	background-image: url("../img/home/periodismo_o.png");
}
.humor:hover{
	background-image: url("../img/home/humor_o.png");
}
 .cir_desc{
 	font-size: 9px;
 }

.jssorn03 div,
.jssorn03 div:hover,
.jssorn03 .av {
    width: 11px;
    background: url(../img/sn.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorn03 div:hover,
.jssorn03 .av:hover {
    background: url(../img/sh.png) no-repeat;
}
.jssorn03 .av {
    background: url(../img/sa.png) no-repeat;
}
.jssorn03 .dn,
.jssorn03 .dn:hover {
    background: url(../img/sh.png) no-repeat;
}

#slider1_container  .title{
position: absolute; bottom: 0px;  line-height:20px;
height: 30px;
width:100%;
}
#slider1_container  .title p span{
background-color:#f8f4f4;
height: 30px;
padding:10px 12px;
}
#slider1_container  .title p{
color:#464343;
text-align:center;
font-size:15px;
}

.nav.tabs li{
    margin-bottom: 0 !important;
}
.nav.tabs li a{
    padding:10px 5px;
}

/* Paginación */
.pagination a {
	border: 0px!important;
}
.pagination a:hover{
	cursor: pointer;
	background-color: transparent!important;
}
.pagination li.active > a{
	color: #9b9b9b!important;
}

/* Like buttons */
.like{
	cursor: pointer;
	color: #17B5E9;
}


/*RESPONSIVE RULES*/
@media (max-width: 768px) {
 .noresp{
  /*display: none;*/
    text-align: center;
	margin-top: -35px;
 }
 .mid{
 	width: 100%;
 }
 .search_form, .contact_form, .login_form{
 	width: 100%;
 	left: 0px;
 }
}
@media (min-width: 768px) and (max-width: 991px) {
 .tribo4{
  width: 33.333333333%;
  float: left;
 }
 .tribo12{
  width: 100%;
  float: left;
 }
}

@media (max-width: 992px) {
 .container {
  width: initial;
 }
 .clogo{
  text-align: center;
 }
 .square{
  padding: 31px;
 }
 .square img {
  max-height: initial;
  max-width: initial;
 }
 .rating {
  top: 40px;
  left: 40px;
 }
 .responsivemenu{
 	display: initial;
 }
 .responsivemenu div:first-child{
 	margin-top: 15px;
  }
 .l_circle {
   margin: auto;
 }
 .normalmenu{
  display: none;
 }
 .wistia_embed{
 	width: 100% !important;
 }
 .btnfiltro{
 	width: 100%;
 }
 .list-group.panel > .list-group-item {
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
 }
 .list-group-submenu {
   margin-left:20px;
 }
}
@media (max-width: 1200px) {
 
}

/* Mensajes */
.alert{
	margin: 0px 15px 15px 15px;
}