@font-face{
	font-family: HelveticaNB;
	src: url(../fonts/HelveticaNeueLTStd-Blk.otf);
}
@font-face{
	font-family: HelveticaNH;
	src: url(../fonts/HelveticaNeueLTStd-Hv.otf);
}
@font-face{
	font-family: HelveticaNM;
	src: url(../fonts/HelveticaNeueLTStd-Md.otf);
}
html{
	height: 100%;
}
body {
	/*margin-top: 100px; */
	/* 50px is the height of the navbar - change this if the navbarn height changes */
	
	background-color:#fcfafa;
	font-family: "HelveticaNM", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	height: 100%;
}
.navbar{
	/*margin-bottom:15px;*/
	margin-bottom: 0px;
}
.navbar-inner {
	position:absolute; bottom: 0px;
	margin-left:120px;
}
.navbar-inner > li > a{
	text-align:center;
	color:#fcfafa;
	font-weight:normal;
	font-size:14px;
	letter-spacing:0px;
	height:39px;
	line-height: 10px;
}

.navbar-inner > li > a.selected{
color:#868585;
/*color:#a5a5a5;*/
}
.navbar-inner > li > a:hover, .navbar-inner > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #15a8de;
}
.navbar-inner > .active > a, .navbar-inner > .active > a:hover, .navbar-inner > .active > a:focus {
   
    color: #15a8de;
}


.dropdown-menu {
    display: none;
    margin: 0 auto;
	text-align:left;
	 background-color: #15a8de;
	 box-shadow:none;
	 border:none;
	 padding-bottom:0px;
	 top: 99%;
	 padding-top:0px;
	 color:#fcfafa;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;	
}
.dropdown-menu > li {
padding:5px 5px 5px 0px;
letter-spacing:0px;
line-height: 0px;
margin-left:5px;
}
ul.dropdown-menu > li > a:hover{
	background-image: url(../img/hover_icon.png);
    background-repeat: no-repeat;
	background-position:left center; 
}
.dropdown-menu > li > a {
padding-left:10px;
padding-right:0px;
color:#fcfafa;
font-weight:normal;
font-size:14px;
}
.divider{
border-bottom:solid 2px #DBCCC3;
margin-left:20px;
margin-right:20px;
}
.dropdown-menu .divider:last-child{
margin-bottom: 0;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
background-color: rgba(0, 0, 0, 0);
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}



/*MENU*/
.navbar{
	
	border-radius: 0px;
	/*background-color: #F5EFED; background-image: url("../img/img_menu.png");*/
	background-image: url("../img/img_menu.png");
	background-size:cover;
	
	padding-bottom: 20px;
	height:134px;
	border:none;
}
.navbar-collapse{
max-height: 540px;
}

.navbar-toggle{
background-color:#575656;
border:1px solid #D1B6A5;
}
.navbar-toggle .icon-bar{
background-color:#D1B6A5;
}
.menu-bg{
background-image: url("../img/menu_bg.png");
position:absolute;
bottom:0px;
opacity:0.7;
width:100%;
height:39px;
z-index:0;
}
.publitop {
height:90px;
background-color:#a8a8a8;
}
.publitop p {
color:#f3f2f0;
}

.publilat{
background-color:#a8a8a8;
color:#f3f2f0;
height:100%;
margin:0px;
}


.contenido{
	margin-top: 15px;
}
.logo img{
	position:absolute;
	width:170px;
	margin-left:-40px;
}
.filosofia {
	background-image: url("../img/filosofia.png");
	height:400px;
	margin-bottom:15px;
}

h2.slidet{
color:#e0e000;
text-transform:uppercase;
font-size:20px;
}
.filosofia p {
color:#fff;
font-size:20px;
margin-top:15px;
}
.topete{
height:134px;
}

#slider1_container .subtitle{
position: absolute; bottom: 0px; left: 10px; width: 270px;  line-height:20px;
}
#slider1_container  .title{
position: absolute; top: 0px; left: 10px; width: 270px; height: 50px; line-height:20px;
}
.socialm{
	position:absolute;
	top:10px;
	right:0;
	margin-right:77px;
}
.userzone{
	position:absolute;
	top:60px;
	right:0;
	margin-right:77px;
}
.userzone .mid {
	background: url(../img/mid_user.png) repeat;
	padding-top:7px;
	width:80px;
}
.userzone .dcha {
	background: url(../img/dcha_user.png) ;
	width:15px;
}
.userzone .izq {
	background: url(../img/izq_user.png) ;
	width:14px;
}
.metro{
max-width:227px;
position:relative;
top:-5px;
}

.metro a:hover,.metro a:active{
color:#FCFAFA;
}
.metro a{
	position:absolute;
	bottom:10px;
	left:50%;
	margin-left:-48px;
	width:96px;
}
.metro a div{
height:23px;
}
.metro .mid {
	background: url(../img/metro_mid.png) repeat-x;
	padding-top:2px;
	width:80px;
}
.metro .dcha {
	background: url(../img/metro_dcha.png) no-repeat;
	width:8px;
}
.metro .izq {
	background: url(../img/metro_izq.png) no-repeat;
	width:8px;
}
.tuhaces a:hover,.tuhaces a:active{
color:#16A8DD;
}
.tuhaces .reg .mid{
color:#16A8DD !important;
font-weight:800;
}
.tuhaces{
max-width:227px;
position:relative;
top:0px;
}
.tuhaces a{
	position:absolute;
	bottom:33px;
	left:0px;
	width:96px;
}
.tuhaces a div{
height:30px;
}
.tuhaces .mid {
	background: url(../img/tuhaces_mid.png) repeat-x;
	padding-top:6px;
	width:80px;
}
.tuhaces .dcha {
	background: url(../img/tuhaces_dcha.png) no-repeat;
	width:7px;
}
.tuhaces .izq {
	background: url(../img/tuhaces_izq.png) no-repeat;
	width:7px;
}
.reg{
overflow:hidden;
margin-right:10px;
margin-left:10px;
	text-align:center;
color: #FCFAFA;
    font-size: 13px;
    font-weight: normal;
}
.userzone a{
float:right;
letter-spacing: 0px;
}
.userzone a:hover,.userzone a:active{
	text-decoration:none;
	color: #FCFAFA;
}
.reg div{
float:left;
height:32px;
}
.userzone .last {
	margin-right:8px;
}
.norightp{
	padding-right:0px;
}
.noleftp{
	padding-left:0px;
}
.video-online img{
max-width:304px;
}

.social,.hi-tribo,.video-online{
	padding-right:0px;
}

a:active,a:focus,a {
outline: 0;
}
.footer{
border-top:2px solid #000;
text-align:center;
color:#000;
font-size:12px;
font-weight:bolder;
}


/* jssor slider navigator skin 03 css */
/*
.jssorn03 div           (normal)
.jssorn03 div:hover     (normal mouseover)
.jssorn03 .av           (active)
.jssorn03 .av:hover     (active mouseover)
.jssorn03 .dn           (mousedown)
*/
.jssorn03 div,
.jssorn03 div:hover,
.jssorn03 .av {
    width: 48px;
    background: url(../img/slide_ele.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorn03 div:hover,
.jssorn03 .av:hover {
    background: url(../img/slide_ele_hov.png) no-repeat;
}
.jssorn03 .av {
    background: url(../img/slide_ele_hov.png) no-repeat;
}
.jssorn03 .dn,
.jssorn03 .dn:hover {
    background: url(../img/slide_ele_hov.png) no-repeat;
}

/*TU HACES TRIBO*/
.img_tuhaces{
	width: 100%;
}
.th_square{
	min-height: 160px;
	margin: 1.66666666%;
	padding: 0px;
	text-align: center;
	background-size:100% !important;
	font-family: "HelveticaNH";
}
.th_square h1{
	font-size: 14px;
	color: white;
}
.th_square h1 span{
	font-size: 17px;
	font-weight: bold;
}
.c_green{
	background: url(../img/tu_haces/th_corto.png) no-repeat;
	background-color: #00A100;
}
.c_yellow{
	background: url(../img/tu_haces/th_noticias.png) no-repeat;
	background-color: #BDBB03;
}
.c_red{
	background: url(../img/tu_haces/th_musica.png) no-repeat;
	background-color: #AE032B;
}
.c_pink{
	background: url(../img/tu_haces/th_juegos.png) no-repeat;
	background-color: #E50A90;
}
.c_purple{
	background: url(../img/tu_haces/th_fotos.png) no-repeat;
	background-color: #6F1D7C;
}
.th_square .descr{
	background: url(../img/tu_haces/bg_tran.png);
	font-size: 9px;
	position: relative;
	top: 120px;
	min-height: 24px;
}
.th_square .prox{
	font-size: 11px;
	color: white;
	position: relative;
	top: 120px;
}
.th_entra{
	margin-left: 8.3333333%;
	border: 1px solid #15A8DE;
	text-align: center;
	padding: 0px;
	padding-top: 5px;
}
.th_entra .th_botm{
	background-color: #15A8DE;
	padding: 5px;
	margin-top: 5px;
}
.th_entra .th_botm a, .th_entra .th_botm a:hover, .th_entra .th_botm a:active{
	color: #FFFFFF;
}
.th_entra .form-inline div {
	float: left;
}
.th_entra .form-inline div label{
	font-weight: normal;
	font-size: 12px;
}
.th_entra .form-inline div input{
	background-color: #ECECEC;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin: 5px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.th_entra .form-inline div button{
	background: none;
	color: #15A8DE;
	border: none;
	padding: 0px;
	margin-top: 10px;
}
.th_entra .form-inline .forgot{
	float: right;
	font-size: 12px;
	margin-right: 105px;
}

/*CUSTOM RESPONSIVE*/
@media (max-width: 992px){
	.navbar-inner > li > a{
		font-size:12px;
	}
	.th_entra{
		margin-left:0px;
	}
	.th_square{
		background-size: 172px !important;
		background-position: center !important;
	}
	.th_square .descr, .th_square .prox{
		font-size: 15px;
		min-height: 40px;
	}

	.th_square .prox{
		background: url(../img/tu_haces/bg_tran.png);
		color: black;
	}

}

/* Debug Footer */
.footerDebug .navbar{
	border-radius: 0px;
	background-image: none;
	background-size: none;
	padding-bottom: 0px;
	height: auto;
	margin-bottom: 0px;
}
.container.main{
	padding-bottom: 50px;
}
/* End Debug Footer */
