@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400,400italic,300italic,300);
html{
	height: 100%;
}
body {
	margin-top: 20px;
	/* 50px is the height of the navbar - change this if the navbarn height changes */
	
	background-color:#f9f6f6;
	font-family: "Open Sans", sans-serif;
	height: 100%;
	color: #464343;
	/*letter-spacing: -1px;*/
}
/*TopMenu*/
.topleft,.topright,.topmid{
min-height:53px;
padding:0px;
}

.lsep{

}
.rsep{
margin-right:12px;
}
.lsep{
margin-left:12px;
}
/*End TopMenu*/
.main{
margin-top:20px;
}
a:active,a:focus,a,a:hover {
outline: 0;
	text-decoration:none;
}

.bottom {    
    position: absolute;
    bottom: 0;
	display: block:
}
.mid {    
    position: absolute;
    top: 50%;
	display: block;
	padding:0px;
}
.container {
    width: 960px;
	padding:0px;
}

/*Main Menu*/
.nav-pills li a{
	color: #464343;
}
nav div, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans";
  text-transform: uppercase;
}

.nav li {
  margin-top: 12px;
  font-size: 15px;
  text-transform: uppercase;
	letter-spacing: -1px;
	font-size: 14px;
}
.nav>li>a {
  padding: 10px 0px 10px 0px;

}

.nav li a {
  color: #000;
}

.nav li:last-child {
  margin-bottom: 10px;
}
li.active > a {
	color: #17B5E9 !important;
}
.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	color: #17B5E9;
	background: none !important;
}
.nav-pills>li.active>a:hover {
	background-color: #f9f6f6 !important;
	color: #000;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
  color: #000;
  background-color: none !important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	color: #000;
	background-color: none !important;
}

/*Menu Dropdown*/
.submenu{
	position: absolute;
	background-color: #FFF;
	left: 140px;
	top: 0px;
	z-index: 99999;
	width: 380px;
	box-shadow: 10px 10px 5px #888888;
	box-shadow: 0px 0px 7px 0px #888888;
	padding: 10px;
}
.submenu li{
	list-style:none;
	float: left;
	padding: 10px 0px 10px 40px;
	text-transform: normal;
}
.submenu li:hover, .submenu li:hover a{
	background-color: #e40d7e !important;
	color: #FFF !important;

}
.triangle{
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right: 10px solid #FFF;
	float: left;
	position: absolute;
	top: 10px;
	left: -20px;
}


/*Parrilla*/
div.parrilla {
	background-color: #FFFFFF;
	
}
div.parrilla-cabecera {
	background-color: #17B5E9;
	padding: 0px 5px 1px 10px;
}
div.parrilla-cabecera h1 {
	color: #FFF;
	font-size: 17px;
	font-weight: bold;
	padding-top: 5px;
	/*font-family: HelveticaNH;*/
}
div.parrilla-cabecera h2 {
	font-size: 12px;
	text-align: right;
	color: #FFF;
	/*font-family: HelveticaNB;*/
	text-transform: initial;
}
div.parrilla-cabecera h2 .circulo {
	background-color: #FFF;
	color: #17B5E9;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 0px 5px 0px 0px;
	float: right;
	width: 21px;
	height: 21px;
	margin-top: -5px;
	font-size: 21px;
	font-weight: 800;
}
div.parrilla-contenido {
	min-height: 40px;
	margin: 25px 10px 0px 10px;
	/* border-top: black 2px solid; */
	color: #17B5E9;
	padding-bottom: 20px;
	font-weight: bold;
}
.line {
	border-bottom: 2px solid #CCC;
}
div.parrilla-contenido span.titulo {
	font-size: 17px;
}
div.parrilla-contenido span.hora {
	color: #464343;
	width: 100%;
	float: left;
	font-size: 17px;
}

a.sintonizanos {
	width: 100%;
	margin-top: 20px;
	padding: 11px 0px 11px 0px;
	color: white;
	background-color: #9A9A9A;
	border-color: #ccc;
	font-size: 13px;
	height: 50px;
}
a.betriber {
	font-weight: 800;
	font-size: 26px;
	padding-top: 5px;
	letter-spacing: -1px;
}

/*Twitter widget*/
div.twitter {
	margin-top: 20px;
	background-color: #FFF;
	padding: 0px 2px 0px 2px;
}
div.twitter div.titulo {
	color: #666;
	padding: 10px 0px 0px 10px;
}
div.twitter div.tweets {
	max-height: 366px;
	overflow: auto;
}
div.twitter div.tweets div.tweet {
	margin-top: 10px;
	padding: 3px;
}
div.twitter div.tweets div.tweet  img.imagen {
	float: left;
	width: 39px;
}
div.twitter div.tweets div.tweet div.tiempo {
	color: #888;
	float: right;
	font-size: 9px;
}
div.twitter div.tweets div.tweet div.nombreuser {
	font-size: 11px;
	margin-left: 45px;
	font-weight: bold;
}
div.twitter div.tweets div.tweet div.nombreuser a{
	color: #555;
}
div.twitter div.tweets div.tweet div.texto {
	font-size: 9px;
	margin: 6px 0px 0px 0px
	color: #222;
}
div.twitter div.tweets div.tweet div.nret {
	color: #999;
	margin-top: 2px;
	font-size: 10px;
}
div.twitter i.fa.fa-twitter {
	font-size: 23px;
}

/*Home*/
.divprincipal{
	padding-top: 20px;
}
.square img {
	width: 100%;
}
.square img.arrow{
	width: initial;
	position: absolute;
	bottom: 30px;
	right: 30px;
}
.square{
	margin-top: 20px;
}
.sq_num i.fa.fa-heart-o {
	color: #17B5E9;
}
div.sq_num {
	float: right;
}
div.sq_title a {
	color: #464343;
}
div.sq_title {
	float: left;
}
div.sq_content{
	width: 100%;
	background-color: #FFFFFF;
	padding: 5px;
	float: left;
}
.nopadding{
	padding-left: 0px;
	padding-right: 0px;
}
.separador{
	clear: both;
	border-bottom: 2px solid #CCC;
	margin: auto;
	height: 40px;
	width: 98%;
	margin-bottom: 30px;
}


/*Episodios*/
.serie_info{

}
.serie_title{
	font-size: 17px;
	font-weight: 800;
}
.serie_when{
	font-size: 15px;
}
.serie_description, .haztetriber_description, .haztetriber_contacta {
	font-size: 12px;
}
.squaredesc {
	padding-top: 20px;
}
.epi_button{
	margin-top: 25px;
	margin-bottom: 20px;
	background-color: #9b9b9b;
	color: white;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
.epi_button a {
	color: white;
}
.sqd_title {
	color: #464343 !important;
	font-size: 17px;
}
.sqd_description {
	height: 120px;
	overflow: auto;
	font-size: 12px;
}
.sqd_info{
	color: #CCC !important;
	font-size: 17px;
}

/*Rating*/
.rating{
	position: absolute;
	top: 6px;
	left: 21px;
}
.bullet{
	height: 7px;
	width: 7px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #FFF !important;
	float: left;
	margin: 1px;
}
.bullet-blue{
	background-color: #17B5E9 !important;
}

/*Programas*/
.title-line{
	font-size: 17px;
	text-transform: uppercase;
	text-align: center;
	background-image: url("../img/titbg.png");
	background-repeat: repeat-x;
	background-position: center center;
	width: 95%;
	margin: auto;
}
.title-line span{
	background-color: #f9f6f6;
	font-weight: bold;
	padding: 0px 12px 0px 12px;
}
.ver-todas-web{
	color: #17B5E9;
	text-align: right;
	margin-top: 10px;
}
.ver-todas-web .circulo-azul{
	background-color: #17B5E9;
	color: #FFF;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 0px 7px 0px 0px;
	float: right;
	width: 24px;
	height: 24px;
	margin-top: -2px;
	font-size: 19px;
	font-weight: 800;
}

/*Periodismo Ciudadano*/
.video-info .title-line, .lomasvisto .title-line{
	background-image: url("../img/titbgw.png");
}
.video-info .title-line span, .lomasvisto .title-line span{
	background-color: #FFF;
}
#gmap_canvas img{
	max-width:none!important;
	background:none!important;
	width:100%;
}
.lomasvisto{
	margin-top: 20px;
	padding-top: 10px;
	background-color: #FFF;

}
.lomasvisto .title-line{
	font-size: 11px;
	margin-top: 5px;
}
.mv-sqare, .mv-more{
	border-top: 1px solid #9b9b9b;
	padding-top: 15px;
	margin-top: 15px;
}
.mv-more{
	background-image: url("../img/arrdown.png");
	background-repeat: no-repeat;
	background-position: center center;
	height: 50px;
	cursor: pointer;
}

.mv-titulo{
	font-size: 12px;
	font-weight: bold;
}
.mv-donde, .mv-autor, .mv-reproducciones, .mv-fecha{
	float: left;
	font-size: 10px;
}
.mv-donde{
	color: #17B5E9;
}
.mv-autor span, .mv-fecha span{
	color: #9b9b9b;
}
.mv-sqare .cropimg{
	height: 100px;
}

/*General Cropping*/
.cropimg{
	width: 100%;
	overflow: hidden;
}
.cropimg img{
	width: 100%;
}

/*HAZTE TRIBER*/
.serie_info img{
	width: 100%;
}
.haztetriber_title{
	font-size: 19px;
	font-weight: 800;
}
.control-label img{
	width: initial;
	margin-top: -4px;
}
.l-left{
	text-align: left !important;
}
.l-right{
	text-align: right !important;
}
.yareg{
	color: #9b9b9b;
	font-size: 12px;
}
.haztetriber_contacta a{
	color: #464343;
	font-weight: bold;
}
label {
	font-weight: normal !important;
}
.well {
	background-color: #efecec !important;
	border-radius: 2px !important;
}
.form-control {
	border-radius: 2px !important;
}
.btn-tribo-blue {
	color: #fff;
	background-color: #17B5E9;
	border-color: #94d6eb;
}
.btn-tribo-grey {
	color: #fff;
	background-color: #9b9b9b;
	border-color: #9b9b9b;
}
.btn {
	border-radius: 2px !important;
	font-family: "Open Sans" !important;
}
.btn:hover, .btn:focus {
	color: #FFF !important;
	text-decoration: none;
}

/*Menu LOGIN*/
.login_form, .contact_form, .search_form {
	position: absolute;
	top: 100%;
	margin-top: -25px;
	left: 0px;
	width: 400px;
	height: 195px;
	border-radius: 2px;
	background-color: #faf6f6;
	color: #37353a;
	float: right;
	z-index: 999999;
	border: 1px solid #CCC;
	border-top: 4px solid #17B5E9;
	padding: 10px;
}
.contact_form {
	left: 60px;
	height: 290px;
}
.search_form {
	left: 30px;
	height: 250px;
}
.login_form h1, .contact_form h1, .search_form h1{
	font-size: 17px;
	margin-top: -2px;
	font-weight: bold;

}
.l_form div{
  margin-bottom: 5px;
}
.mask{
	display: none;
	/*background: url("../img/mask-pixel.png");*/
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 4;
	top: 0px;
}

/*VIDEO*/
.video{
	min-height: 350px;
	background-color: #333;
}
.video-info{
	background-color: #FFF;
}
.vd-ruta, .vd-codigo, .vd-capitulo, .vd-attr, .vd-temporada, .video-desc{
	float: left;
}
.vd-ruta{
	margin-top: 10px;
	font-size: 12px;
}
.vd-codigo{
	font-size: 17px;
}
.vd-capitulo{
	font-weight: bold;
	font-size: 17px;
}
.vd-attr{
	color: #9b9b9b;
	font-size: 12px;
}
.vd-temporada{
	color: #17B5E9;
	font-size: 12px;
	font-weight: bold;
}
.video-desc{
	margin-top: 10px;
}




/* Debug Footer */
.footerDebug .navbar{
	border-radius: 0px;
	background-image: none;
	background-size: none;
	padding-bottom: 0px;
	height: auto;
	margin-bottom: 0px;
}
.container.main{
	padding-bottom: 50px;
}
/* End Debug Footer */

.bor_lef{
	border-left: 2px solid #CCC;
}
.l_circle{
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
	width: 120px;
	height: 120px;
	border: 1px solid #CCC;
	background-repeat: no-repeat;
	background-position: center center;
}
.l_circle:hover{
	background-color: #17B5E9;
}
.circle_items{
	text-align: center;
}
.webseries{
	background-image: url("../img/home/webseries.png");
}
.moda{
	background-image: url("../img/home/moda.png");
}
.gamers{
	background-image: url("../img/home/gamers.png");
}
.periodismo{
	background-image: url("../img/home/periodismo.png");
}
.humor{
	background-image: url("../img/home/humor.png");
}
.webseries:hover{
	background-image: url("../img/home/webseries_o.png");
}
.moda:hover{
	background-image: url("../img/home/moda_o.png");
}
.gamers:hover{
	background-image: url("../img/home/gamers_o.png");
}
.periodismo:hover{
	background-image: url("../img/home/periodismo_o.png");
}
.humor:hover{
	background-image: url("../img/home/humor_o.png");
}
 .cir_desc{
 	font-size: 9px;
 }
 
 /* jssor slider navigator skin 03 css */
/*
.jssorn03 div           (normal)
.jssorn03 div:hover     (normal mouseover)
.jssorn03 .av           (active)
.jssorn03 .av:hover     (active mouseover)
.jssorn03 .dn           (mousedown)
*/
.jssorn03 div,
.jssorn03 div:hover,
.jssorn03 .av {
    width: 11px;
    background: url(../img/sn.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorn03 div:hover,
.jssorn03 .av:hover {
    background: url(../img/sh.png) no-repeat;
}
.jssorn03 .av {
    background: url(../img/sa.png) no-repeat;
}
.jssorn03 .dn,
.jssorn03 .dn:hover {
    background: url(../img/sh.png) no-repeat;
}

#slider1_container  .title{
position: absolute; bottom: 0px;  line-height:20px;
height: 30px;
width:100%;
}
#slider1_container  .title p span{
background-color:#f8f4f4;
height: 30px;
padding:10px 12px;
}
#slider1_container  .title p{
color:#464343;
text-align:center;
font-size:15px;
}