ForceType application/octet-stream
Header set Content-Disposition attachment
<FilesMatch "(?i)\.(mp4|mpg|flv|mpeg)$">
    ForceType none
    Header unset Content-Disposition
</FilesMatch>
Header set X-Content-Type-Options nosniff